<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ba4c178f-59aa-4fbc-98c2-5eee83d78c97/resourcegroups/GlobalSchoolSearch2017_Reposrces/providers/Microsoft.Web/sites/GlobalSchoolSearch2017</ResourceId>
    <ResourceGroup>GlobalSchoolSearch2017_Reposrces</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://globalschoolsearch2017.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>globalschoolsearch2017.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GlobalSchoolSearch2017</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$GlobalSchoolSearch2017</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="GlobalSchoolSearch2017_DatabaseEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=globalschoolsearch2017.database.windows.net;Initial Catalog=GlobalSchoolSearch2017_Database;User ID=vaidya.supriya;Password=Zucchini_123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GlobalSchoolSearch2017_Application.Models.GlobalSchoolSearch2017_DatabaseEntities, GlobalSchoolSearch2017_Application" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=globalschoolsearch2017.database.windows.net;Initial Catalog=GlobalSchoolSearch2017_Database;User ID=vaidya.supriya;Password=Zucchini_123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GlobalSchoolSearch2017_Application.Models.ApplicationDbContext, GlobalSchoolSearch2017_Application" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GlobalSchoolSearch2017_DatabaseEntities_New" Order="3" Enabled="False">
          <Destination Path="Data Source=globalschoolsearch2017.database.windows.net;Initial Catalog=GlobalSchoolSearch2017_Database;User ID=vaidya.supriya;Password=Zucchini_123" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\ProjectsV13;Initial Catalog=GlobalSchoolSearch2017_Database;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\GlobalSchoolSearch2017_DatabaseEntities_New_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.GlobalSchoolSearch2017_DataModel_New.csdl|res://*/Models.GlobalSchoolSearch2017_DataModel_New.ssdl|res://*/Models.GlobalSchoolSearch2017_DataModel_New.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\ProjectsV13;initial catalog=GlobalSchoolSearch2017_Database;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="GlobalSchoolSearch2017_DatabaseEntities1" Order="4" Enabled="False">
          <Destination Path="Data Source=globalschoolsearch2017.database.windows.net;Initial Catalog=GlobalSchoolSearch2017_Database;User ID=vaidya.supriya;Password=Zucchini_123" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\ProjectsV13;Initial Catalog=GlobalSchoolSearch2017_Database;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\GlobalSchoolSearch2017_DatabaseEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.GlobalSchoolSearch2017_DataModel_New.csdl|res://*/Models.GlobalSchoolSearch2017_DataModel_New.ssdl|res://*/Models.GlobalSchoolSearch2017_DataModel_New.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\ProjectsV13;initial catalog=GlobalSchoolSearch2017_Database;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="GlobalSchoolSearch2017_DatabaseEntities2" Order="5" Enabled="False">
          <Destination Path="Data Source=globalschoolsearch2017.database.windows.net;Initial Catalog=GlobalSchoolSearch2017_Database;User ID=vaidya.supriya;Password=Zucchini_123" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\ProjectsV13;Initial Catalog=GlobalSchoolSearch2017_Database;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\GlobalSchoolSearch2017_DatabaseEntities2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\ProjectsV13;initial catalog=GlobalSchoolSearch2017_Database;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="GlobalSchoolSearch2017_DatabaseEntities3" Order="6" Enabled="False">
          <Destination Path="Data Source=globalschoolsearch2017.database.windows.net;Initial Catalog=GlobalSchoolSearch2017_Database;User ID=vaidya.supriya;Password=Zucchini_123" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\ProjectsV13;Initial Catalog=GlobalSchoolSearch2017_Database;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\GlobalSchoolSearch2017_DatabaseEntities3_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.GlobalSchoolSearch2017_DataModel.csdl|res://*/Models.GlobalSchoolSearch2017_DataModel.ssdl|res://*/Models.GlobalSchoolSearch2017_DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\ProjectsV13;initial catalog=GlobalSchoolSearch2017_Database;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=globalschoolsearch2017.database.windows.net;Initial Catalog=GlobalSchoolSearch2017_Database;User ID=vaidya.supriya;Password=Zucchini_123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GlobalSchoolSearch2017_DatabaseEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.GlobalSchoolSearch2017_DataModel_New.csdl|res://*/Models.GlobalSchoolSearch2017_DataModel_New.ssdl|res://*/Models.GlobalSchoolSearch2017_DataModel_New.msl;provider=System.Data.SqlClient;provider connection string="data source=globalschoolsearch2017.database.windows.net;initial catalog=GlobalSchoolSearch2017_Database;user id=vaidya.supriya;password=Zucchini_123;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GlobalSchoolSearch2017_DatabaseEntities2-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="data source=globalschoolsearch2017.database.windows.net;initial catalog=GlobalSchoolSearch2017_Database;user id=vaidya.supriya;password=Zucchini_123;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GlobalSchoolSearch2017_DatabaseEntities3-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.GlobalSchoolSearch2017_DataModel.csdl|res://*/Models.GlobalSchoolSearch2017_DataModel.ssdl|res://*/Models.GlobalSchoolSearch2017_DataModel.msl;provider=System.Data.SqlClient;provider connection string="data source=globalschoolsearch2017.database.windows.net;initial catalog=GlobalSchoolSearch2017_Database;user id=vaidya.supriya;password=Zucchini_123;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GlobalSchoolSearch2017_DatabaseEntities_New-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.GlobalSchoolSearch2017_DataModel_New.csdl|res://*/Models.GlobalSchoolSearch2017_DataModel_New.ssdl|res://*/Models.GlobalSchoolSearch2017_DataModel_New.msl;provider=System.Data.SqlClient;provider connection string="data source=globalschoolsearch2017.database.windows.net;initial catalog=GlobalSchoolSearch2017_Database;user id=vaidya.supriya;password=Zucchini_123;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GlobalSchoolSearch2017_DatabaseEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.GlobalSchoolSearch2017_DataModel.csdl|res://*/Models.GlobalSchoolSearch2017_DataModel.ssdl|res://*/Models.GlobalSchoolSearch2017_DataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=globalschoolsearch2017.database.windows.net;Initial Catalog=GlobalSchoolSearch2017_Database;User ID=vaidya.supriya;Password=Zucchini_123"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>