@{
    ViewBag.Title = "About Global School Search";
}
@*<h2>@ViewBag.Title</h2>*@
@*<h3>@ViewBag.Message</h3>*@
<br/>
<div class="panel panel-default">
    <div class="panel-heading"><h3>About Global School Search</h3></div>
    <div class="panel-body">
        <div class="col-md-8">
            <br />
            <p align="justify">Global School Search is a utility which helps to search for schools in the desired area.</p>
            <br />
            <p align="justify">
                In today's age of <b>globalization</b> people keep on moving from one place to another for various reasons. While <b>relocating to new places</b> with <b>families</b>, first question arises to anyone's mind is about finding the <b>best school for kids</b> which is not always easy. All schools don't have their presence on the internet. Lots of efforts are taken, time and money is spent in just finding the best suitable schools for the kids.
            </p>
            @*<br />*@
            <p align="justify">
                The sole purpose of this <b>"Global School Search"</b> is to <b>save</b> all those <b>efforts</b> and <b>help people</b> in searching schools. This website gives information about schools in terms of address, contact details, type of school, examination board and admission details.
            </p>
            <p align="justify">
                There is also a facility to add  <strong>review</strong> for schools you know. Add reviews and help other parents to select best school.
            </p>

            <br />
        </div>
        <div class="col-md-4">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Advertise4 -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-2361562748118340"
                 data-ad-slot="1512774990"
                 data-ad-format="auto"></ins>
            <script>
(adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
</div>