@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title</h2>*@
@*<h3>@ViewBag.Message</h3>*@


<br />
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Contact</h3>
    </div>
    <div class="panel-body">
        <div class="col-md-8">
            <address>
                If you have any queries don't hesitate to drop us a mail<br />
            </address>

            <address>
                <strong>Support:</strong> <a href="mailto:schoolsearchengine2015@gmail.com">schoolsearchengine2015@gmail.com</a><br />
            </address>
        </div>
        <div class="col-md-4">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Advertise5 -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-2361562748118340"
                 data-ad-slot="5496730962"
                 data-ad-format="auto"></ins>
            <script>
(adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
</div>

